/**
* MAIN PAGE
*/
.rankingMain {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 0px 1px 8px #0000000D;
}
@media (max-width: 840px) {
    .rankingMain {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.rankingMain > div {
    overflow-x: hidden; 
    overflow-x: auto;
    height: 92%;
}
.rankingMain table {
    border-collapse: collapse;
    width: 100%;
}

.rankingMain table th button img {
    float: right;
    margin-left: 5px;
    margin-top: 1px;
}
.rankingMain table td, .rankingMain table th {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}
  
.rankingMain table tr.item {
    text-decoration: none;
}

.rankingMain table tr.item:hover {
    background-color: #ddd;
    /* cursor: pointer; */
}
  
.rankingMain table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.rankingMain table th button {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}


/**
* LOCAL PAGE
*/
.rankingLocal {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
    box-shadow: 0px 1px 8px #0000000D;
}
@media (max-width: 1480px) {
    .rankingLocal {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 13; 
    }
}

.rankingLocal > div {
    overflow-x: hidden; 
    overflow-x: auto;
    height: 92%;
}
.rankingLocal table {
    border-collapse: collapse;
    width: 100%;
}

.rankingLocal table th button img {
    float: right;
    margin-left: 5px;
    margin-top: 1px;
}
.rankingLocal table td, .rankingLocal table th {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}
  
.rankingLocal table tr.item {
    text-decoration: none;
}

.rankingLocal table tr.item:hover {
    background-color: #ddd;
    /* cursor: pointer; */
}
  
.rankingLocal table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.rankingLocal table th button {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
}