@import url("https://use.typekit.net/ebc2mpn.css");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #F9FAFC;
  /* background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover; */
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Foco', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

li {
  list-style: none;
  margin-top: 10px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
}